* {
  padding: 0;
  margin: 0;
}

body {
background-color: #fff;
}

.ins {
  display: flex;
  align-items: center;
  width: 200px;
}

.in {
  width: 20px;
  height: 20px;
  cursor: pointer;

}



nav {
  background-color: #00008B;
  color: #ffff;
  height: 100px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

h1{
  position: absolute;
  top:45px;
  left: 70px;
  color: #ffff;
  font-size: 15px;
}

.on {
  justify-content: center;
  padding: 50px;
  width: 80px;
  align-items: center;
  cursor: pointer;
}


.on3 {
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 40px;
  align-items: center;


}

.svg {
  width: 50px;
  padding: 20px;
}

.inv {
  height: 90vh;
  width: 80vw;
  text-align: center;

}

#diten {
  width: 100vw;
  margin-top: 70px;
  text-align: center;
}

.dim {
  position: relative;
  top: -200px;
  width: 90vw;
  margin: 50px 0px 100px 70px;
  margin-top: 2px;
  display: flex;
  color: black;
  font-size: larger;
  text-transform: uppercase;
  text-align: center;

}
.ddif{
  margin-top: -300px;
}

.in2 {
  width: 373.52px;
  height: 520px;
  margin: 10px;
}
h3{
  font-size: 50px;
  text-align: center;
  color: orange;
  padding: 50px;
}

p {
  font-size: 20px;
  text-align: center;
  margin: 50px;
  padding: 10px;
}


.pins {
  position: relative;
  text-transform: uppercase;
  top: -300px;
  color: #ffff;

}

.pins2 {
  font-size: 20px;
  position: relative;
  text-transform: uppercase;
  top: -550px;
  color: #ffff;
}

h2 {
  font: bold;
  font-size: 60px;
  position: relative;
  text-transform: uppercase;
  top: -550px;
  color: #ffff;
}

.button1 {
  background-color: #ffa500;
  height: 70px;
  width: 150px;
  border: #ffa500;
  font-size: 15px;
  position: relative;
  text-transform: uppercase;
  top: -550px;
  cursor: pointer;
}

.button2 {
  margin-top: 10px;
  margin-bottom: 140px;
  background-color: #ffa500;
  height: 50px;
  width: 150px;
  border: transparent;
  font-size: 15px;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
}

footer {
  color: #ffff;
  text-align: center;
  width: 100vw;
  height: 170px;
  background-color: #00008B;
  display: flex;

}


.fd1 {
  height: 30px;
  width: 400px;
  display: inline-block;
  
}

.pfot{
margin: 0px;
padding: 0px;
}