body{
background-color: bisque;

}
img{
  height: 150px;
  width: 150px;
}


.container{
  display: flex;
  color:white;
  height: 500px;
  width: 500px;
  background-color: rgb(98, 36, 168);
  margin: 50px;
}

.cubos{
 height: 50px;
 width: 50px;
 background-color: green;
 margin: 50px;
}

#d1{
  justify-content: center;
  align-items: center;
}

#d2{
  justify-content: center;
  align-items: center;
}

#d3{
  flex-direction: column;
  
}

#d4{
  flex-direction:row;
  
}

#d5 {
  align-items: flex-end;
}

#d6{
  align-items: center;
  flex-direction: column;

}

#d7{
  flex-direction: column;
  align-items: flex-end;
}

#d8{
  background-color: black;
display: flex;
}

#d9{
  flex-direction: column;
  align-items: flex-start;
}
#d10{
  flex-direction: column;
  align-items: center;
}

#d11{
  flex-direction: column;
  align-items: flex-end;
}